* {
    margin: 0;
    padding: 0;
    // cursor: url('../logo.png'), pointer;
    user-select: none; /* 支持现代浏览器 */
    -webkit-user-select: none; /* 支持 Safari */
    -moz-user-select: none; /* 支持 Firefox */
    -ms-user-select: none; /* 支持 Internet Explorer/Edge */
}

html,
body,
#app {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.content-box {
    position: absolute;
    left: 200px;
    right: 0;
    top: 70px;
    bottom: 0;
    padding-bottom: 30px;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
    background: #f0f0f0;
}

.content-collapse {
    left: 65px;
}

a {
    text-decoration: none;
}

.move-enter-active,
.move-leave-active {
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.move-enter,
.move-leave-to {
    opacity: 0;
    // transform: translateY(20px);
}
